

.profiles-logo-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
}



.profiles-main {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
}

.profiles-logo {
    background-image: image-url("kevflixlogo50.png");
    background-size: cover;
    height: 50px;
    width: 137px;
    margin-left: 50px;
}


.profiles-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.profiles-overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.profiles-header {
    color: white;
    font-size: 65px;
    margin-bottom: 20px;
}


.first-profile-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.first-prof-header {
    font-size: 24px;
    color: white;
    margin-right: 10px;
}



.profiles-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.first-prof-create {
    background-color: #e50914;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    padding: 11px;
    margin-left: 10px;
}

.first-prof-create:hover {
    cursor: pointer;
    opacity: 0.8;
}


.first-prof-input {
    background-color: #333;
    border-radius: 3px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    height: 40px;
    width: 160px;
}




.manage-button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profiles-done-btn {
    background-color: red;
    font-size: 24px;
    color: white;
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px;
    border: 1px solid #808080;
    margin-top: 40px;
}



.manage-button{
    font-size: 24px;
    color: #808080;
    padding: 10px 30px 10px 30px;
    border: 1px solid #808080;
    letter-spacing: 2px;
    margin-top: 40px;
}

.profiles-done-btn:hover {
    background-color: #e50914;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}

.profile-container:hover .profile-box {
    border: 3px solid white;
}



.profile-box {
    height: 20vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-bottom: 20px;
}




.profile-container:hover .profile-name {
    color: white;
}


.name-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.profile-icon {
    background-image: image-url("kevflix-profile-icon");
    background-size: cover;
    height: 87.5%;
    width: 87.5%;
}



.delete-btn {
    background-image: image-url("x");
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.delete-btn:hover {
    background-image: image-url("x");
}


.profile-name {
    color: #808080;
    font-size: 22px;
    font-weight: 500;
}



.create-btns-box {
    display: flex;
    align-items: center;
}

.profiles-add-btn {
    background-image: image-url("plus");
    background-size: cover;
    height: 35px;
    width: 35px;
}



.create-prof-main {
    height: 23vh;
    display: flex;
    align-items: center;
}


.create-profile-text {
    font-size: 20px;
    color: white;
    position: absolute;
    margin-left: 45px;
    display: none;
}


.profiles-add-btn:hover {
    cursor: pointer;
    background-image: image-url("plus");
}




.create-prof-footer {
    width: 100%;
    height: 50px;
}

.create-form {
    display: flex;
    flex-direction: column;
}


.add-hover .create-profile-text {    
    display: block;
    cursor: pointer;
}



.create-input {
    background-color: #333;
    border-radius: 3px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    height: 40px;
    width: 160px;
    margin: 10px 0;
}


.create-prof-header {
    color: white;
    font-size: 20px;

}

.create-submit:hover {
    cursor: pointer;
    opacity: 0.8;
}




.create-submit {
    background-color: #e50914;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    padding: 10px 0;
    width: 50%;
    text-align: center;
}

.gradient-1 {
    background: linear-gradient(0deg, rgb(167, 34, 34) 0%, rgb(63, 55, 55) 40%);
}

.gradient-2 {
    background: linear-gradient(0deg, rgba(231,109,109,1) 0%, rgba(163,7,38,1) 40%);
}

.gradient-3 {
    background: linear-gradient(0deg, rgb(100, 99, 122) 0%, rgba(7,163,41,1) 40%);
}

.gradient-4 {
    background: linear-gradient(0deg, rgb(212, 157, 210) 0%, rgba(14,7,163,1) 40%);
}

.gradient-5 {
    background: linear-gradient(0deg, rgba(231,211,109,1) 0%, rgb(221, 187, 17) 40%);
}